<div class="page_box">

<% if false %>----ここから---------<% end %>
<%= render 'users/sidebar2', user: @user, post: @post %>
<% if false %>-------ここまで------<% end %>

<main>
	<h1>Books</h1>
	<table>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
		<% @books.each do |books| %>
		<tr>
			<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
			<td><%= link_to "#{books.title}", book_path(books.id) %></td>
			<td><%= books.body %></td>
		</tr>
		<% end %>
	</table>
<main>
</div>